@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    height: 50px;
    background-color: black;
    align-items: center;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 51px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 15px auto;
    border-radius: 12px;
    padding: 20px;
    background-image: url("../bg.jpg");
    background-size: cover;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.icon ion-icon {
    font-size: 35px;
    cursor: pointer;
}
.songList{
    height: 65vh;
    overflow: auto;
}

.songItem img {
    height: 45px;
    border-radius: 25px;
}

.songItem {
    height: 50px;
    display: flex;
    align-items: center;
    width: 83%;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 20px;
}

.songListPlay {
    display: flex;
    align-items: center;
    gap: 5px;
}

.songListPlay ion-icon {
    font-size: 25px;
}
.songItem ion-icon{
    cursor: pointer;
}
.songItemPlay{
    margin-left: 2px;
}
.songInfo img{
    height: 20px;
    width: 100px;
}
.songInfo{
    /* position: absolute;
    left: 10vw; */
    font-family: 'Varela Round', 
}
.songInfo img{
    opacity: 0;
    transition: opacity .2s ease-in;
}
span .playingGif {
    width: 4vw;
    height: 4vh;
    opacity: 0;
}
.bar{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
.bottomBar{
    display: flex;
    width: 85vw;
    justify-content: flex-start;
}

@media (max-width:665px){ 
    .bar{
        width: 85vw;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .bottom{
        gap: 0;
        /* height: 40vw; */
    }
    .container{
        width: 82vw;
    }
    .icon ion-icon{
        font-size: 40px;
    }
    .icon{
        text-align: center;
    }
    .songInfo img{
        width: 70px;
    }
    body{
    }
}